//COLOR List
$colors:(
    'main':        #1c1a22,
    'main-dark':   #42505c,
    'main-light':  #3caae9,
    'main-black':  #b8bed6,
    'sec':         #bbff00,
    'ter':         #ff2793,
    'grey':        #ECF0F1,
    'grey30':      rgba(236, 240, 241, 0.3),
    'black':       #576877,
    'white':       #ffffff,
    'table1':      #FFC900,
    'table2':      #00A1E7,
    'table3':      #FF5400,
    'table4':      #53BE00,
    'table5':      #062EE7,
    'table6':      #FF1779,
    'table7':      #6644bb,
    'table8':      #EB0000,
    'table9':      #9C6800,
    'table10':     #B168FF,

);

@each $name,$value in $colors{

    //text color extension
    %txt-#{$name}{color: $value;}

    //text color class
    .txt-#{$name}{
        color: $value;
    }

    //background color extension
    %bck-#{$name}{background-color: $value;}

    //background color class
    .bck-#{$name}{
        background-color: $value;
    }
}