@import 'modules/_colors';
@import 'modules/_fonts';
@import 'modules/_resets';
@import 'modules/_boxmodel';

#navbar{
    position: fixed;
    top: 0em;
    width: 100vw;
    @extend %bck-main;
    color: white;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
    nav{
        padding: 10px 25px 10px 15px;
        #logoburger{
            flex: 0 30%;
            #logo{
                div{height: 40px;
                    img{
                        height: 40px;
                        width: 40px;
                        margin-right: 8px;
                    }
                }
                p{
                    font-family: 'Kalam', cursive;
                    line-height: 1rem;
                }
            }
        }
        menu{
            flex: 0 70%;
            a{
                color: white;
                padding: 10px;
                &:hover{
                    border-bottom: 3px solid map-get($colors , "sec" );
                }
            }
        }
    }
}
body{
    position: absolute;
    top: 60px;
    width: 100vw;
    main>header{
        padding: 100px 0;
        margin-bottom: 50px;
    }
}
.tableSec{
    width: 350px;
    margin:0px 10px 40px 10px;
    h2{
        display: block;
        span{display: block;}
        margin: 0;
    }
    header{
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
        padding: 10px 20px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .table{
        font-weight: 600;
        font-size: 1.3rem;
        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.15);
        padding: 10px 20px;
        border-radius: 8px;
        span{
            display: inline-block;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
            line-height: 1.3rem;
            padding: 5px 10px 0px 10px;
            border-radius: 12px;
            font-family: 'Kalam', cursive;
            font-size: 1.3rem;
            color: white;
            &:nth-child(2){
            color: map-get($colors , "black" );
            }
        }
    }
    .numA{
        display: inline-block;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
        margin-top: 10px;
        line-height: 2.5rem;
        padding: 15px 20px 5px 20px;
        border-radius: 12px;
        font-family: 'Kalam', cursive;
        font-size: 3rem;
        color: white;
    }
}
#table1{
    .numA{color: map-get($colors , "table1" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table1" );}
        span:nth-child(3){background-color: map-get($colors , "table1" );}
    }
}
#table2{
    .numA{color: map-get($colors , "table2" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table2" );}
        span:nth-child(3){background-color: map-get($colors , "table2" );}
    }
}
#table3{
    .numA{color: map-get($colors , "table3" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table3" );}
        span:nth-child(3){background-color: map-get($colors , "table3" );}
    }
}
#table4{
    .numA{color: map-get($colors , "table4" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table4" );}
        span:nth-child(3){background-color: map-get($colors , "table4" );}
    }
}
#table5{
    .numA{color: map-get($colors , "table5" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table5" );}
        span:nth-child(3){background-color: map-get($colors , "table5" );}
    }
}
#table6{
    .numA{color: map-get($colors , "table6" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table6" );}
        span:nth-child(3){background-color: map-get($colors , "table6" );}
    }
}
#table7{
    .numA{color: map-get($colors , "table7" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table7" );}
        span:nth-child(3){background-color: map-get($colors , "table7" );}
    }
}
#table8{
    .numA{color: map-get($colors , "table8" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table8" );}
        span:nth-child(3){background-color: map-get($colors , "table8" );}
    }
}
#table9{
    .numA{color: map-get($colors , "table9" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table9" );}
        span:nth-child(3){background-color: map-get($colors , "table9" );}
    }
}
#table10{
    .numA{color: map-get($colors , "table10" );}
    .table{
        span:nth-child(1){color: map-get($colors , "table10" );}
        span:nth-child(3){background-color: map-get($colors , "table10" );}
    }
}